apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: backend
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30090